.viewClientRows {
  height: 40px;
}
.viewClientsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.viewClientsTable td .viewClientsTable th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}
.viewClientsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.viewClientsTable tr:hover {
  background-color: #ddd;
}
.viewClientsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #323b38;
  color: white;
}
.editViewsLinks {
  text-decoration: none;
  color: #000;
}
