/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  /* min-height: 90vh; */
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  padding: 30px;
}
.loginFormContainer {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}
.loginFormContainer .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.loginFormContainer .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #121619; */
  background-image: url("../assets/loginBefore.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
  z-index: 100;
}
.loginFormContainer .cover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: #121619; */
  background-image: url("../assets/signupAfter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
  z-index: 100;
  transform: rotateY(180deg);
}
.loginFormContainer #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.loginFormContainer .cover .img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
  backface-visibility: hidden;
}
.loginFormContainer .cover .loginBack .backImg {
  transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.loginFormContainer .cover .text {
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
.cover .loginBack .text .text-1,
.cover .loginBack .text .text-2 {
  transform: rotateY(180deg);
}
.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}
.loginFormContainer .forms {
  height: 100%;
  width: 100%;
  background: #fff;
}
.loginFormContainer .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.forms .signup-form .title:before {
  width: 20px;
}
.forms .form-content .input-boxes {
  margin-top: 30px;
}
.forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.formInput {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.error {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: gray;
}
.form-content .input-box i {
  position: absolute;
  color: #121619;
  font-size: 17px;
}
.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a {
  text-decoration: none;
}
.forms .form-content .text a:hover {
  text-decoration: underline;
}
.forms .form-content .button {
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input {
  color: #fff;
  background: #121619;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover {
  background: #121619;
  opacity: 0.8;
}
.button-input-box {
  /* color: #fff;
  margin-top: 40px;
  color: #fff;
  background: #121619;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
   */
  height: 100%;
  width: 100%;
  background: #121619;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.button-input-box:hover {
  background: #121619;
  opacity: 0.8;
}
.forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover {
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}
.loginFormContainer #flip {
  display: none;
}

@media (max-width: 730px) {
  .loginFormContainer .cover {
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }
  .form-content .signup-form {
    display: none;
  }
  .loginFormContainer #flip:checked ~ .forms .signup-form {
    display: block;
  }
  .loginFormContainer #flip:checked ~ .forms .login-form {
    display: none;
  }
}
